* {
  letter-spacing: 1.5px;
}
body {
  text-align: center;
}
h1 {
  color: #8a2be2;
  margin: 30px;
}

label {
  font-size: 18px;
}
.container {
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#calculateBtn {
  align-self: center;
  width: fit-content;
  background-color: #8a2be2;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1.5px;
  border: 1px solid #fff;
  padding: 5px 16px;
  margin: 20px;
}

input {
  align-self: center;
  margin: 10px;
  max-width: 200px;
  padding: 8px;
  margin-bottom: 50px;
}

#outputBox {
  font-size: 22px;
}
