nav {
  display: flex;
  justify-content: space-around;
  margin: 25px;
  background-color: #8a2be2;
  padding: 20px;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-bottom: 2px solid #8a2be2;
  font-size: 18px;
}
nav a:hover {
  font-weight: bold;
}
.active {
  border: 1px solid #fff;
}
